

.headline{
	margin-top: 2em;
	padding-left: 3em;

	font-weight: bold;
	text-transform:uppercase;
	height: 3.5em;
	text-align: left;
	border: solid;
	border-width: 1px;
	border-color: #D3D3D3;
	border-right: none;
	border-left: none;
	line-height: 3.5em;
	font-size: 0.9em;
	color: #122d4f;
}
.coming{
	width: 75%;
	padding-left: 3em;
	min-height: 3.5em;
	text-transform:uppercase;
	text-align: left;
	line-height: 3.5em;
	font-size: 0.75em;
	color: grey;
}
.past{
	padding-left: 3em;
	min-height: 3.5em;
	text-transform:uppercase;
	text-align: left;
	line-height: 3.5em;
	font-size: 0.75em;
	color: grey;
}
.content-conference-info{
	margin-left: 2em;
	vertical-align:  top;
	margin-bottom: 2em;
	font-family: "calibri";
	font-weight: normal;
	font-size: 0.8em;
	text-transform:uppercase;
}
.conference-info-name{
	vertical-align:  top;
	display: inline-block;
	 width: 25%;
	 font-weight: normal;
}

.conference-info-time{
	vertical-align:  top;
	display: inline-block;
	width: 23%;
	margin-left: 5%;
	font-weight: normal;
}

.conference-info-place{
	font-weight: normal;
	vertical-align:  top;
	display: inline-block;
	margin-left: 5%;
	width: 40%;
}