{% load static %}
<!DOCTYPE html>
<html>	
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/conferences.css" %}">
		<title>Трибуна ученого: Конференции</title>

	</head>
	<body >
		<div class="main">
			<div class="header">
				<div class="header-top">
					<div>
						<t class="header-logo">ТРИБУНА УЧЁНОГО</t>
						<a href="/news/" class="header-button" id="noborder">НОВОСТИ</a>
						<a href="/about/" class="header-button">О ЖУРНАЛЕ</a>
						<a href="/requirements/" class="header-button">МАТЕРИАЛЫ</a>
						<a href="/team/" class="header-button">КОЛЛЕГИЯ</a>
						<a href="/conferences/" class="header-button">КОНФЕРЕНЦИИ</a>
						<a href="/archive/" class="header-button">АРХИВ</a>
					</div>
					<div class="header-postscript">
						<f>электронный научно-практический журнал</f>
					</div>

				</div>
				<div class="header-subheader">
					<div class="subheader-left">
						<a href="autor.html" class="subheader-reg-button">вход</a>
						<b class="subheader-reg-button"> / </b> 
						<a href="autor.html" class="subheader-reg-button">регистрация</a>
					</div>
					<div class="subheader-center">
						<t class="subheader-pagename">КОНФЕРЕНЦИИ</t>
					</div>
					<div class="subheader-slash"></div>
					<div class="subheader-right"></div>
				</div>
			</div>
			<div class="main-body">
				<div class="sidebar">
					<div href="" class="sidebar-batton">
						<a href="" class="sidebar-batton-link">
							<div class="sidebar-batton-icon"><b>+</b></div>
							<b>ОПУБЛИКОВАТЬ СТАТЬЮ</b>
						</a>
					</div>
					<div class="sidebar-magazine-batton">
						<div class="magazine-batton-picture"></div>
						<div class="magazine-batton-title">Скоро тут можно будет посмотреть свежий номер журнала "Трибуна ученого"</div>
					</div>
					<div class="sidebar-vidget">
						
					</div>
				</div>
				<div class="page-content">
					<div class="crutch"></div>
					<div class="headline">активные</div>
					<div class="coming"></div>
					<div class="content-conference-info">
						<b class="conference-info-name">название конференции</b>
						<b class="conference-info-time">дата проведения: 11.11.1111 Время проведения: 12:30</b>
						<b class="conference-info-place">Комсомольск-на-амуре, улица Федора-лыткнанана, д 215/17а. ауд 1525</b>
					</div>
					<div class="content-conference-info">
						<b class="conference-info-name">название конференции</b>
						<b class="conference-info-time">дата проведения: 11.11.1111 Время проведения: 12:30</b>
						<b class="conference-info-place">Город, улица, дом, ауд</b>
					</div>
					<div class="content-conference-info">
						<b class="conference-info-name">название конференции</b>
						<b class="conference-info-time">дата проведения: 11.11.1111 Время проведения: 12:30</b>
						<b class="conference-info-place">Комсомольск-на-амуре, улица Федора-лыткна нана, д 215/17а. ауд 1525</b>
					</div>
					<div class="headline">прошедшие</div>
					<div class="past"></div>
					<div class="content-conference-info">
						<div class="conference-info-name">название конференции</div>
						<div class="conference-info-time">дата проведения: 11.11.1111 Время проведения: 12:30</div>
						<div class="conference-info-place">Город, улица, дом, ауд</div>
					</div>
					<div class="content-conference-info">
						<div class="conference-info-name">название конференции</div>
						<div class="conference-info-time">дата проведения: 11.11.1111 Время проведения: 12:30</div>
						<div class="conference-info-place">Комсомольск-на-амуре, улица Федора-лыткнанана, д 215/17а. ауд 1525</div>
					</div>
					<div class="content-conference-info">
						<div class="conference-info-name">название конференции</div>
						<div class="conference-info-time">дата проведения: 11.11.1111 Время проведения: 12:30</div>
						<div class="conference-info-place">Комсомольск-на-амуре, улица Федора-лыткнанана, д 215/17а. ауд 1525</div>
					</div>

					<div class="content-news-block">ПОСЛЕДНИЕ НОВОСТИ
						<div class="news-block-content">
							<a class="news" href="news1.html">
								<img class="news-img" src="styles/imgs/samplimg.png" alt="Последние новости не доступны, а этот текст нужен для отладки"> 
								Последние новости не доступны, а этот текст нужен для отладки
							</a>
							<a class="news" href="news1.html">
								<img class="news-img" src="styles/imgs/samplimg.png" alt="Тут текста куда больше, посмотрим, сколько символов влезет в блок, дабы не нужно было обрезать все, обрезать конечно придется, но так хоть буду знать, какой длинны текст"> 
								150-200 символов, не больше
							</a>
							<a class="news" href="news1.html">
								<img class="news-img" src="styles/imgs/samplimg.png" alt="Маленький Тимми упал в колодец!"> 
								Маленький Тимми упал в колодец!
							</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>	
	</body>
</html>
