{% load static %}
<!DOCTYPE html>
<html>	
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static "css/main.css" %}">
		<title>Трибуна ученого: Новости</title>

	</head>
	<body >
		<div class="main">
			<div class="header">
				<div class="header-top">
					<div>
						<t class="header-logo">ТРИБУНА УЧЁНОГО</t>
						<a href="/news/" class="header-button" id="noborder">НОВОСТИ</a>
						<a href="/about/" class="header-button">О ЖУРНАЛЕ</a>
						<a href="/requirements/" class="header-button">МАТЕРИАЛЫ</a>
						<a href="/team/" class="header-button">КОЛЛЕГИЯ</a>
						<a href="/conferences/" class="header-button">КОНФЕРЕНЦИИ</a>
						<a href="/archive/" class="header-button">АРХИВ</a>
					</div>
					<div class="header-postscript">
						<f>электронный научно-практический журнал</f>
					</div>

				</div>
				<div class="header-subheader">
					<div class="subheader-left">
						<a href="autor.html" class="subheader-reg-button">вход</a>  <!--должно вызывать окно регистрации-->
						<b class="subheader-reg-button"> / </b> 
						<a href="autor.html" class="subheader-reg-button">регистрация</a>
					</div>
					<div class="subheader-center">
						<t class="subheader-pagename">НОВОСТИ</t>
					</div>
					<div class="subheader-slash"></div>
					<div class="subheader-right"></div>
				</div>
			</div>
			<div class="main-body">
				<div class="sidebar">
					<div href="" class="sidebar-batton">
						<a href="" class="sidebar-batton-link">
							<div class="sidebar-batton-icon"><b>+</b></div>
							<b>ОПУБЛИКОВАТЬ СТАТЬЮ</b>
						</a>
					</div>
					<div class="sidebar-magazine-batton">
						<div class="magazine-batton-picture"></div>
						<div class="magazine-batton-title">Скоро тут можно будет посмотреть свежий номер журнала "Трибуна ученого"</div>
					</div>
					<div class="sidebar-vidget">
						
					</div>
				</div>
				<div class="page-content">
					<a href="news1.html">Хотите глянуть новость? Как удачно, а это ссылка на нее!</a>
				</div>
			</div>
			
		</div>	
	</body>
</html>
